[Unit]
Description=back up with direnv-backup and user config

[Service]
Type=simple
ExecStart=direnv-backup --config=%h/.config/direnv-backup/config.json

[Install]
WantedBy=default.target
