# Maintainer: David Torralba Goitia <david.torralba.goitia@gmail.com>

_name=direnv-backup
pkgname="${_name}-git"
# TODO: pick version from pyproject.toml
pkgver=0.0.1
pkgrel=1
# TODO: pick description from pyproject.toml
pkgdesc="Tool to backup/restore direnv files with optional encryption"
arch=("any")
url="https://github.com/dtgoitia/${_name}"
# source=("https://github.com/dtgoitia/${_name}.git")
source=("${_name}-${pkgver}::git+https://github.com/dtgoitia/${_name}.git")
# source=("direnv_backup_sources::git+https://github.com/dtgoitia/direnv-backup.git?signed#tag=${pkgver}")


provides=($_name)
conflicts=($_name "${_name}-git" "${_name}-bin")
license=("GLP3")
depends=("python")
makedepends=("git" "python-build" "python-installer" "python-wheel")

build () {
    pwd
    cd "${srcdir}/${_name}-${pkgver}"
    pwd

    python -m build --wheel --outdir $srcdir
}

package() {
    pwd
    cd "${srcdir}/${_name}-${pkgver}"
    pwd
    # echo "Files:"
    # find .
    # echo ""
    # echo "Variables:"
    # printenv
    # echo ""

    python -m installer --destdir="$pkgdir" dist/*.whl
}
